@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,700&display=swap");
$labelBtn: #9ba3ae;

* {
  font-family: overpass;
}
.brand-text {
  font-size: 1.6em;
  color: white;
  font-weight: 200;
}
.pointer {
  cursor: pointer;
}
.label {
  font-size: 0.9em;
  color: #9ba3ae;
}

// Pagination Styling
$text-color: white;
$bg-color: #262626;
$text-color-active: lightcoral;
$bg-color-active: #000000;

.pag-item {
  background: $bg-color;
  padding: 4px 12px;
  color: $text-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

.pag-item-active {
  background: $bg-color-active;
  padding: 4px 12px;
  color: $text-color-active;
  text-decoration: none;

  &:hover {
    color: $text-color-active;
    text-decoration: none;
  }
}
.signout-button {
  margin-top:100px;
}