@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,700&display=swap");
$labelBtn: #9ba3ae;

* {
  font-family: overpass;
}
.brand-text {
  font-size: 1.6em;
  color: white;
  font-weight: 200;
}
.pointer {
  cursor: pointer;
}
.label {
  font-size: 0.9em;
  color: #9ba3ae;
}
